
.mImg img {
margin-left: 25%;
height: 300px;
width: 600px
}

.caOve h2 {
    font-size: 30px;
    color: wheat;
    text-align: center;
}

.CarInf {
    margin: 15px 30%;
    color: white;
    font-size: 20px;
    text-align: center;
}